@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200&display=swap');

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1a1a1a;
  color: #fff;
}

body,
h1,
.buttons,
button {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 700;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  cursor: pointer;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease;

  letter-spacing: 1.5px;
}

button:hover {
  background-color: #fff;
  color: #1a1a1a;
}

h6 {
  font-family: 'Poppins', sans-serif;
  display: flex;
  letter-spacing: 1px;
}

h6 a {
  text-decoration: none;
  color: #8aaee4;
  display: block;
  margin-left: 5px;
  transition: all 0.3s ease;
}

h6 a:hover {
  transform: translateY(-8px);
}
